@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #247ba0;
}

header {
  width: 80%;
  margin: 0 auto;
}

.logo {
  width: 25%;
  display: inline-block;
  color: #fff;
  font-size:15px;
}

.menu {
  width: 70%;
  display: inline-block;
}

.hamburgur {
  font-size: 30px;
  display: none;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu ul li {
  display: inline-block;
  padding: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff
}

.menu ul li a:hover{
  color: #888;
  transition: 1s;
}

/* end header here */

.section-1 .background {
  background: #247ba0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: 0;
}

.section-1 .content {
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  color: #fff;
}

.section-1 .content .container {
  width: 80%;
  margin: auto;
}

.title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

.desc {
  position: relative;
  top: -30px;
  font-family: Cherry Swash;
}

/* end section 1 here */

.section-2 {
  width: 100%;
  text-align: center;
  color: #888;
  cursor: pointer;
}

.section-2 .container {
  max-width: 800px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.skill {
  width: 120px;
  height: 100px;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 20px;
  padding-top: 40px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 2.5rem rgba(60, 127, 239, 0.15);
  position: relative;
}

.section-2 .container .about p {
  position: relative;
  top: 0;
  white-space: unset;
}

.skill .icon {
  width: 60px;
  margin: auto;
}

.skill:before,
.skill:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6px;
  background-color: green;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.skill:after {
  right: 50%;
  left: 50%;
  background: yellow;
  transition: left 0.3s, right 0.3s;
}

.skill:hover {
  transform: translateY(-5%);
  transition: 0.4s;
}

.skill:hover:after {
  left: 0;
  right: 0;
}

.skill.html:before {
  background-color: rgba(228, 78, 38, 0.2);
}

.skill.html:after {
  background-color: rgba(228, 78, 38, 0.8);
}

.skill.css:before {
  background-color: rgba(21, 114, 182, 0.2);
}

.skill.css:after {
  background-color: rgba(21, 114, 182, 0.8);
}

.skill.javascript:before {
  background-color: rgba(240, 219, 79, 0.4);
}

.skill.javascript:after {
  background-color: rgba(240, 219, 79, 1);
}

.skill.jquery:before {
  background-color: rgba(8, 104, 172, 0.2);
}

.skill.jquery:after {
  background-color: rgba(8, 104, 172, 0.8);
}

.skill.bootstrap:before {
  background-color: rgba(91, 66, 129, 0.2);
}

.skill.bootstrap:after {
  background-color: rgba(91, 66, 129, 0.8);
}

.skill.python:before {
  background-color: rgba(255, 216, 69, 0.4);
}

.skill.python:after {
  background-color: rgba(255, 216, 69, 1);
}

.skill.github:before {
  background-color: rgba(236, 81, 40, 0.2);
}

.skill.github:after {
  background-color: rgba(236, 81, 40, 0.8);
}

.skill.wordpress:before {
  background-color: rgba(72, 72, 72, 0.2);
}

.skill.wordpress:after {
  background-color: rgba(72, 72, 72, 0.8);
}

/* close setion 2 */

.section-3 {
  width: 100%;
  padding-bottom: 4em;
  text-align: center;
  position: relative;
}

.section-3 .container {
  width: 100%;
  padding-top: 2em;
}

.section-3 .container .background {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skewY(-6deg);
}

.projects {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.projects .project {
  display: inline-block;
  margin: 6px;
  white-space: inherit;
  max-width: 300px;
  max-height: 300px;
  vertical-align: middle;
  font-size: 15px;
  font-family: Cherry Swash;
}

.portfolio {
  width: 50%;
  margin: auto;
  white-space: unset;
  font-size: 20px;
  color: #888;
}

.projects .project img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: auto;
}

.section-4 {
  width: 100%;
  position: relative;
  top: 40px;
  text-align: center;
}

.section-4 .container {
  padding: 10px;
  font-family: Cherry Swash;
  color: #555;
}

.section-4 .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-4 .container ul li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}

.section-4 .container ul li a {
  color: #ddd;
}

.section-4 .container ul li a:hover {
  color: #555;
  transition: 2s;
}

.fa-heart {
  color: red;
}

@media screen and (max-width: 872px) {

  header{
    width: 100%;
    padding-bottom: 10px;
  }

  .menu {
    width: 100%;
    display: none;
  }

  .menu ul li{
    display: block;
    text-align: center;
    margin: 20px 0;
    border-bottom:1px solid #888; 
  }

  .logo {
    font-size: 15px;
    width: 40%;
    text-align: center;
  }

  .hamburgur {
    width: 55%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
  }

  .active {
    display: block;
    transition: 1s;
  }

}

@media screen and (max-width:873px){
  
.skill:before,
.skill:after {
  content: "";
  position: absolute;
  bottom: -1px;
}
}

@media screen and (max-width:802px){
.projects{
  max-width: 100%;
}

}

@media screen and (max-width:644px){

  .projects .project{
    max-width: 250px;
    max-height: 250px;
  }

}

@media screen and (max-width: 460px) {
  .section-1 .content .container h2 {
    font-size: 30px;
  }

  .logo{
    font-size: 15px;
  }

  .section-1 .content .container p{
    margin-top:40px;
  }


  @media screen and (max-width:404px){ 
   
.logo{
  font-size:12px;
}

  .section-1 .content .container h2 {
    font-size: 29px;
  } 

  .skill svg{
    width: 50px;
  }

  .portfolio{
    width: 95%;
  }

  .skill {
  width: 90px;
  height: 85px;
  font-size:14px;
}

}


@media screen and (max-width:337px){

  .logo{
    font-size: 10px;
  }


  .skill {
    width: 55px;
    height: 60px;
    font-size:12px;
  }

}

  